body {
  background-color: $Cream;
}

.main-container {
  border-radius: 10px;
  overflow: hidden;

  background-color: $White;
}

.content-container {
  padding: 1.75rem;

  > .flex {
    --direction: row;
    margin-top: 2.5rem;
  }

  > .uppercase {
    line-height: 1;
  }
}
