body {
  display: grid;
  place-content: center;
}

.flex {
  display: flex;
  flex-direction: var(--direction, column);
  justify-content: var(--justify, start);
  align-items: center;
  gap: var(--gap, 0);
}

.main-container {
  width: min(60ch, 92vw);
}

.flow {
  > * + * {
    margin-top: 0.9rem;
  }
}
