@media (min-width: 568px) {
  // Typography:
  :root {
    --fs-900: 2.25rem;
    --fs-400: 1rem;
  }

  // Layout:

  .main-container {
    --direction: row;
    width: min(600px, 92vw);

    > * {
      padding: 0;
      flex-basis: 300px;
    }
  }

  .content-container {
    padding: 2rem;
  }

  // Components:

  .content-container {
    --flow-gap: 1.5rem;

    p {
      line-height: 1.6;
    }

    .flex {
      margin-top: 2rem;
    }
  }
}
